{% extends 'base.html' %}

{% block body %}
    <div class="row">
        <div class="center-align">
            <h2 class="white-text">Panel de control</h2>
        </div>
    </div>
    <div class="row">
        <div class="col s1"></div>
        <div class="col s10">
            <div class="col s12">
                <div class="card hoverable">
                    <div class="card-content black-text">
                        <span class="card-title">Ultimas 30 vacunas colocadas: </span>
                        <table class="striped">
                            <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Lote</th>
                                <th>D.N.I. Paciente</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for vaccination in vaccinations %}
                                <tr>
                                    <td>{{ vaccination.date }}</td>
                                    <td>{{ vaccination.batch_number }}</td>
                                    <td>{{ vaccination.vaccination.carnet.dni }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-action-btn">
        <a href="{% url "vacunacion:get_carnet" %}" class="btn-floating btn-large red">
            <i class="large material-icons">add</i>
        </a>
    </div>
{% endblock body %}